CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
SWIFT_INCLUDE_PATHS = $(CONFIGURATION_BUILD_DIR)
ARCHS = $(ARCHS_STANDARD)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.13

#include "BookishModel.xcconfig"
