#include "BuildNumber.xcconfig"

BOOKISH_DOCUMENT_CLASS = ${PRODUCT_MODULE_NAME}.CollectionDocument

BOOKISH_MODEL_NAME = BookishModel
BOOKISH_MODEL_INFO_PATH = Sources/${BOOKISH_MODEL_NAME}/Resources/Info.plist
BOOKISH_MODEL_TEST_INFO_PATH = Tests/${BOOKISH_MODEL_NAME}Tests/Resources/Info.plist

BOOKISH_CONFIG = ${CONFIGURATION:lower}

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(BOOKISH_MODEL_TEST_FLAGS)

BOOKISH_MODEL_BRIDGING_PATH = Sources/BookishModel/BookishModelBridge.h

CURRENT_PROJECT_VERSION = $(BUILD_NUMBER)
BOOKISH_MODEL_BUILD = $(BUILD_NUMBER)
BOOKISH_MODEL_COMMIT = $(BUILD_COMMIT)

SWIFT_VERSION = 5.0

// Tools

TOOLS_PATH = BookishCore/.build/debug
RT_PATH = $TOOLS_PATH/rt
SKETCHX_PATH = $TOOLS_PATH/sketchx
COVERAGE_PATH = $TOOLS_PATH/coverage
