BOOKISH_ENTITLEMENTS_PATH = Sources/${TARGET_NAME}/Bookish.entitlements
BOOKISH_INFO_PATH = Sources/${TARGET_NAME}/Info.plist
BOOKISH_TEST_INFO_PATH = Tests/${TARGET_NAME}/Info.plist

BOOKISH_TEAM = 2H48644JM2

BOOKISH_MOBILE_NAME = BookishMobile
BOOKISH_MAC_NAME = BookishMac

BOOKISH_DOCUMENT_CLASS = ${PRODUCT_MODULE_NAME}.CollectionDocument

BOOKISH_MODEL_NAME = BookishModel
BOOKISH_MODEL_INFO_PATH = Sources/${BOOKISH_MODEL_NAME}/Info.plist
BOOKISH_MODEL_TEST_INFO_PATH = Tests/${BOOKISH_MODEL_NAME}Tests/Info.plist

BOOKISH_CONFIG = ${CONFIGURATION:lower}
