CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
SWIFT_INCLUDE_PATHS = $(CONFIGURATION_BUILD_DIR)
//VALID_ARCHS = arm64 armv7 armv7s
ARCHS = $(ARCHS_STANDARD)
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 13.0
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = YES


#include "BookishModel.xcconfig"
