BOOKISH_DOCUMENT_CLASS = ${PRODUCT_MODULE_NAME}.CollectionDocument

BOOKISH_MODEL_NAME = BookishModel
BOOKISH_MODEL_INFO_PATH = Sources/${BOOKISH_MODEL_NAME}/Info.plist
BOOKISH_MODEL_TEST_INFO_PATH = Tests/${BOOKISH_MODEL_NAME}Tests/Info.plist

BOOKISH_CONFIG = ${CONFIGURATION:lower}

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(BOOKISH_MODEL_TEST_FLAGS)
