<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actorsCompositeString</key>
		<string></string>
		<key>amazonLastLookupDate</key>
		<date>2008-07-10T18:25:30Z</date>
		<key>amazonLastPricesLookupDate</key>
		<date>2008-07-10T18:25:30Z</date>
		<key>amazonLastSynopsesLookupDate</key>
		<date>2008-07-10T18:25:30Z</date>
		<key>amazonProductGroup</key>
		<string></string>
		<key>asin</key>
		<string>0349102155</string>
		<key>associatedURL</key>
		<string></string>
		<key>audienceRecommendedAgeSingularString</key>
		<string></string>
		<key>boxHeightInInches</key>
		<real>7.639999866485596</real>
		<key>boxLengthInInches</key>
		<real>0.8700000047683716</real>
		<key>boxWeightInPounds</key>
		<real>0</real>
		<key>boxWidthInInches</key>
		<real>4.960000038146973</real>
		<key>buyPrice</key>
		<string></string>
		<key>cinematographersCompositeString</key>
		<string></string>
		<key>composersCompositeString</key>
		<string></string>
		<key>conditionSingularString</key>
		<string></string>
		<key>conductorsCompositeString</key>
		<string></string>
		<key>countryCode</key>
		<string>gb</string>
		<key>coverImageColorsCompositeString</key>
		<string>grey
brown
black
mauve
dark grey
purple
dark purple
dark green
white
dark blue
green
navy blue</string>
		<key>coverImageDominantColorRGBA</key>
		<integer>-9668729</integer>
		<key>coverImageEdgeDominantColorRGBA</key>
		<integer>-9668729</integer>
		<key>coverImageLargeURLString</key>
		<string>http://ecx.images-amazon.com/images/I/4153VEB9GYL._SL500_.jpg</string>
		<key>coverImageLargestHeightInPixels</key>
		<integer>475</integer>
		<key>coverImageLargestWidthInPixels</key>
		<integer>303</integer>
		<key>coverImageMediumURLString</key>
		<string>http://ecx.images-amazon.com/images/I/4153VEB9GYL._SL160_.jpg</string>
		<key>coverImageNormalizedCornerRadiusLowerLeft</key>
		<real>0.01252524156375406</real>
		<key>coverImageNormalizedCornerRadiusLowerRight</key>
		<real>0.006593798658367008</real>
		<key>coverImageNormalizedCornerRadiusUpperLeft</key>
		<real>0.006631331838498084</real>
		<key>coverImageNormalizedCornerRadiusUpperRight</key>
		<real>0.00676134067774519</real>
		<key>coverImageSmallURLString</key>
		<string>http://ecx.images-amazon.com/images/I/4153VEB9GYL._SL75_.jpg</string>
		<key>creationDate</key>
		<date>2004-11-26T20:57:44Z</date>
		<key>creatorsCompositeString</key>
		<string>Iain Banks</string>
		<key>currentValue</key>
		<string>£0.01</string>
		<key>deweyDecimal</key>
		<string>813</string>
		<key>ean</key>
		<string>9780349102153</string>
		<key>editionsCompositeString</key>
		<string>New Ed</string>
		<key>explicitPhysicalFormat</key>
		<string></string>
		<key>featuresCompositeString</key>
		<string></string>
		<key>foreignUUIDString</key>
		<string></string>
		<key>formatSingularString</key>
		<string>Paperback</string>
		<key>genresCompositeString</key>
		<string>Special Features - Used Books - Fiction - Authors, A-Z - ( B ) Special Features - Used Books - Fiction - Contemporary Fiction: 1970 Onwards - General Special Features - Used Books - Fiction - Contemporary Fiction: 1970 Onwards - Literary Fiction Special Features - Used Books - Fiction - General Special Features - Used Books - Science Fiction &amp; Fantasy - Science Fiction - General Subjects - Fiction - Authors, A-Z - B - Banks, Iain Subjects - Fiction - Contemporary Fiction: 1970 Onwards - Literary Fiction Subjects - Fiction - Contemporary Fiction: 1970 Onwards - General Subjects - Fiction - General Subjects - Science Fiction &amp; Fantasy - Science Fiction - General</string>
		<key>hasExperienced</key>
		<integer>0</integer>
		<key>illustratorsCompositeString</key>
		<string></string>
		<key>isSigned</key>
		<integer>0</integer>
		<key>isbn</key>
		<string>0349102155</string>
		<key>key</key>
		<string></string>
		<key>languagesCompositeString</key>
		<string></string>
		<key>lastModificationDate</key>
		<date>2014-12-06T14:26:13Z</date>
		<key>libraryOfCongressCallNumber</key>
		<string></string>
		<key>locationSingularString</key>
		<string></string>
		<key>maximumPlayers</key>
		<integer>0</integer>
		<key>minimumPlayers</key>
		<integer>0</integer>
		<key>minutes</key>
		<integer>0</integer>
		<key>netRating</key>
		<real>4.110000133514404</real>
		<key>notes</key>
		<string></string>
		<key>numberInSeries</key>
		<integer>0</integer>
		<key>numberOfMedia</key>
		<integer>1</integer>
		<key>ownerSingularString</key>
		<string></string>
		<key>pages</key>
		<integer>400</integer>
		<key>platformsCompositeString</key>
		<string></string>
		<key>price</key>
		<string>£7.99</string>
		<key>privateCollection</key>
		<integer>0</integer>
		<key>publishDate</key>
		<date>1992-04-30T23:00:00Z</date>
		<key>publishersCompositeString</key>
		<string>Abacus</string>
		<key>purchaseDate</key>
		<date>2004-11-26T00:00:00Z</date>
		<key>rare</key>
		<integer>0</integer>
		<key>rating</key>
		<real>0</real>
		<key>screenwritersCompositeString</key>
		<string></string>
		<key>serialNumber</key>
		<string></string>
		<key>seriesSingularString</key>
		<string>Test Series</string>
		<key>subtitle</key>
		<string></string>
		<key>title</key>
		<string>The Bridge</string>
		<key>tracksCompositeString</key>
		<string></string>
		<key>type</key>
		<string>Book</string>
		<key>used</key>
		<integer>0</integer>
		<key>uuidString</key>
		<string>D0667D14-3FED-11D9-A33A-000A957CA12C</string>
	</dict>
	<dict>
		<key>actorsCompositeString</key>
		<string></string>
		<key>amazonLastLookupDate</key>
		<date>2014-12-06T15:04:47Z</date>
		<key>amazonLastPricesLookupDate</key>
		<date>2014-12-06T15:04:47Z</date>
		<key>amazonLastSynopsesLookupDate</key>
		<date>2014-12-06T15:04:47Z</date>
		<key>amazonProductGroup</key>
		<string>eBooks</string>
		<key>asin</key>
		<string>B00760BPOC</string>
		<key>associatedURL</key>
		<string></string>
		<key>audienceRecommendedAgeSingularString</key>
		<string></string>
		<key>boxHeightInInches</key>
		<real>0</real>
		<key>boxLengthInInches</key>
		<real>0</real>
		<key>boxWeightInPounds</key>
		<real>0</real>
		<key>boxWidthInInches</key>
		<real>0</real>
		<key>buyPrice</key>
		<string></string>
		<key>cinematographersCompositeString</key>
		<string></string>
		<key>composersCompositeString</key>
		<string></string>
		<key>conditionSingularString</key>
		<string></string>
		<key>conductorsCompositeString</key>
		<string></string>
		<key>countryCode</key>
		<string>gb</string>
		<key>coverImageColorsCompositeString</key>
		<string>brown
black
dark brown
maroon
grey
tan
light brown
peach
white
dark green
pink
light blue
beige</string>
		<key>coverImageDominantColorRGBA</key>
		<integer>-16382185</integer>
		<key>coverImageEdgeDominantColorRGBA</key>
		<integer>-16382201</integer>
		<key>coverImageIsCustom</key>
		<integer>0</integer>
		<key>coverImageLargeURLString</key>
		<string>http://ecx.images-amazon.com/images/I/51bJ0NghofL.jpg</string>
		<key>coverImageLargestHeightInPixels</key>
		<integer>500</integer>
		<key>coverImageLargestWidthInPixels</key>
		<integer>330</integer>
		<key>coverImageMediumURLString</key>
		<string>http://ecx.images-amazon.com/images/I/51bJ0NghofL._SL160_.jpg</string>
		<key>coverImageNormalizedCornerRadiusLowerLeft</key>
		<real>0.002088036241816219</real>
		<key>coverImageNormalizedCornerRadiusLowerRight</key>
		<real>0.001192809251617823</real>
		<key>coverImageNormalizedCornerRadiusUpperLeft</key>
		<real>0.005636535830511303</real>
		<key>coverImageNormalizedCornerRadiusUpperRight</key>
		<real>0.08761324772583615</real>
		<key>coverImageSmallURLString</key>
		<string>http://ecx.images-amazon.com/images/I/51bJ0NghofL._SL75_.jpg</string>
		<key>creationDate</key>
		<date>2014-12-06T15:04:46Z</date>
		<key>creatorsCompositeString</key>
		<string>George R. R. Martin</string>
		<key>currentValue</key>
		<string></string>
		<key>deweyDecimal</key>
		<string></string>
		<key>ean</key>
		<string></string>
		<key>editionsCompositeString</key>
		<string></string>
		<key>explicitPhysicalFormat</key>
		<string></string>
		<key>featuresCompositeString</key>
		<string></string>
		<key>foreignUUIDString</key>
		<string></string>
		<key>formatSingularString</key>
		<string>Kindle Edition</string>
		<key>genresCompositeString</key>
		<string>Fiction
Science Fiction &amp; Fantasy
Kindle eBooks</string>
		<key>hasExperienced</key>
		<integer>0</integer>
		<key>illustratorsCompositeString</key>
		<string></string>
		<key>isSigned</key>
		<integer>0</integer>
		<key>isbn</key>
		<string></string>
		<key>key</key>
		<string></string>
		<key>languagesCompositeString</key>
		<string>English (Published)</string>
		<key>lastModificationDate</key>
		<date>2014-12-06T15:04:46Z</date>
		<key>libraryOfCongressCallNumber</key>
		<string></string>
		<key>locationSingularString</key>
		<string></string>
		<key>maximumPlayers</key>
		<integer>0</integer>
		<key>minimumPlayers</key>
		<integer>0</integer>
		<key>minutes</key>
		<integer>0</integer>
		<key>netRating</key>
		<real>0</real>
		<key>notes</key>
		<string></string>
		<key>numberInSeries</key>
		<integer>0</integer>
		<key>numberOfMedia</key>
		<integer>1</integer>
		<key>ownerSingularString</key>
		<string>Test Series</string>
		<key>pages</key>
		<integer>707</integer>
		<key>platformsCompositeString</key>
		<string></string>
		<key>price</key>
		<string></string>
		<key>privateCollection</key>
		<integer>0</integer>
		<key>publishDate</key>
		<date>2012-03-15T00:00:00Z</date>
		<key>publishersCompositeString</key>
		<string>Harper Voyager</string>
		<key>purchaseDate</key>
		<date>2014-12-06T15:04:46Z</date>
		<key>rare</key>
		<integer>0</integer>
		<key>rating</key>
		<real>0</real>
		<key>screenwritersCompositeString</key>
		<string></string>
		<key>serialNumber</key>
		<string></string>
		<key>seriesSingularString</key>
		<string></string>
		<key>subtitle</key>
		<string>(A Song of Ice and Fire, Book 5)</string>
		<key>title</key>
		<string>A Dance With Dragons: Part 1 Dreams and Dust</string>
		<key>tracksCompositeString</key>
		<string></string>
		<key>type</key>
		<string>Book</string>
		<key>used</key>
		<integer>0</integer>
		<key>uuidString</key>
		<string>FAB4A0CF-9DEE-41B3-BA64-2FE5335F389E</string>
	</dict>
</array>
</plist>
